JSON Files/Telegram Front End.json
{
  "name": "Telegram Front End",
  "nodes": [
    {
      "parameters": {
        "chatId": "REPLACE_ME",
        "text": "Task Has been marked as \"Abandoned\"",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -512,
        928
      ],
      "id": "c0490fcf-2b02-49dd-9165-2b2c057a864f",
      "name": "Other Stuff to take care",
      "webhookId": "65cb07af-0b77-4dcc-88d8-4c842a34ab38",
      "credentials": {
        "telegramApi": {
          "id": "5jQMyrdufsQiAI16",
          "name": "Second Brain BOT"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5ef44512-97fa-4020-9cbe-abf6e3a54775",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "answer_yes",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Are you still wokring?(yes)"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c89c6488-feb3-48fc-af7b-8a3ed95d46fa",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "answer_no",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Are you still wokring?(no)"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "09315dd2-2174-4452-9333-7859d3f44d4f",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "reminder_yes",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Want to remind them(yes)"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b92270dc-774a-4ab5-b6c4-347cf5092f8f",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "reminder_no",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Want to remind them(yes)"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "08bfda15-c34a-40f8-948c-97ae7b410b87",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "abandoned_no",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Not Working Anymore?"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1376,
        448
      ],
      "id": "f8cc6e38-cda9-4aea-b79b-acd40d51e520",
      "name": "Switch"
    },
    {
      "parameters": {
        "chatId": "REPLACE_ME",
        "text": "Do you need a reminder of this? Every 45 minutes?",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Yes",
                    "additionalFields": {
                      "callback_data": "reminder_yes"
                    }
                  },
                  {
                    "text": "No",
                    "additionalFields": {
                      "callback_data": "reminder_no"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -944,
        128
      ],
      "id": "cfdb8f16-e135-4927-8dc8-b7b977d37816",
      "name": "Want me to remind you?",
      "webhookId": "3b28120f-35de-4c73-bf06-c5686198cb5b",
      "credentials": {
        "telegramApi": {
          "id": "5jQMyrdufsQiAI16",
          "name": "Second Brain BOT"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "23da0519-ba10-80f8-b2dc-e2b101439e4a",
          "mode": "list",
          "cachedResultName": "For N8N",
          "cachedResultUrl": "https://www.notion.so/23da0519ba1080f8b2dce2b101439e4a"
        },
        "returnAll": true,
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "key": "Status|select",
              "condition": "equals",
              "selectValue": "In Progress"
            },
            {
              "key": "Reminder Set|status",
              "condition": "equals",
              "statusValue": "False"
            },
            {
              "key": "Next Reminder Time|date",
              "condition": "on_or_before",
              "date": "={{ $now }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -944,
        512
      ],
      "id": "45a232dd-d871-4e82-8b72-50726b45c24f",
      "name": "Getting task that need to be reminded",
      "credentials": {
        "notionApi": {
          "id": "o28QXcBHRFEhw2zq",
          "name": "Second Brain Database"
        }
      }
    },
    {
      "parameters": {
        "chatId": "REPLACE_ME",
        "text": "=I Have marked the Task as Abandoned...\n\n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -480,
        320
      ],
      "id": "e70b2994-c185-4422-bbe4-60b64a8c0e3b",
      "name": "Abandoned Task",
      "webhookId": "3b28120f-35de-4c73-bf06-c5686198cb5b",
      "credentials": {
        "telegramApi": {
          "id": "5jQMyrdufsQiAI16",
          "name": "Second Brain BOT"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "23da0519-ba10-80f8-b2dc-e2b101439e4a",
          "mode": "list",
          "cachedResultName": "For N8N",
          "cachedResultUrl": "https://www.notion.so/23da0519ba1080f8b2dce2b101439e4a"
        },
        "returnAll": true,
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "key": "Next Reminder Time|date",
              "condition": "on_or_before",
              "date": "={{ $now }}"
            },
            {
              "key": "Reminder Set|status",
              "condition": "equals",
              "statusValue": "False"
            },
            {
              "key": "Status|select",
              "condition": "equals",
              "selectValue": "In Progress"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -944,
        320
      ],
      "id": "8ca2b670-8922-44cf-935f-086de5c5b1ba",
      "name": "Checking Status of Task",
      "credentials": {
        "notionApi": {
          "id": "o28QXcBHRFEhw2zq",
          "name": "Second Brain Database"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status|select",
              "selectValue": "Abandoned"
            },
            {
              "key": "Reminder Set|status",
              "statusValue": "False"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -720,
        320
      ],
      "id": "7c1f965a-34dc-4053-894e-bda67697337d",
      "name": "Setting up for Abandoned Task",
      "credentials": {
        "notionApi": {
          "id": "o28QXcBHRFEhw2zq",
          "name": "Second Brain Database"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Reminder Set|status",
              "statusValue": "True"
            },
            {
              "key": "Next Reminder Time|date",
              "date": "={{ $now.plus(45, \"minutes\") }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -720,
        512
      ],
      "id": "7f0d8c77-53dc-4f73-b193-97d353e867c5",
      "name": "Setting Reminder for it",
      "credentials": {
        "notionApi": {
          "id": "o28QXcBHRFEhw2zq",
          "name": "Second Brain Database"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "23da0519-ba10-80f8-b2dc-e2b101439e4a",
          "mode": "list",
          "cachedResultName": "For N8N",
          "cachedResultUrl": "https://www.notion.so/23da0519ba1080f8b2dce2b101439e4a"
        },
        "returnAll": true,
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "key": "Status|select",
              "condition": "equals",
              "selectValue": "In Progress"
            },
            {
              "key": "Reminder Set|status",
              "condition": "equals",
              "statusValue": "False"
            },
            {
              "key": "Next Reminder Time|date",
              "condition": "on_or_before",
              "date": "={{ $now }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -944,
        704
      ],
      "id": "75f7a3de-c816-43b5-a3d8-85fcbb7e4cfc",
      "name": "Since I don't want to be reminded",
      "credentials": {
        "notionApi": {
          "id": "o28QXcBHRFEhw2zq",
          "name": "Second Brain Database"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Next Reminder Time|date",
              "date": "={{ $now.plus(8, 'Hour') }}"
            },
            {
              "key": "Reminder Set|status",
              "statusValue": "Midnight"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -720,
        704
      ],
      "id": "d8ca522d-65ce-4feb-8c55-1336d2c908a6",
      "name": "I am putting reminder for 8 hours",
      "credentials": {
        "notionApi": {
          "id": "o28QXcBHRFEhw2zq",
          "name": "Second Brain Database"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "23da0519-ba10-80f8-b2dc-e2b101439e4a",
          "mode": "list",
          "cachedResultName": "For N8N",
          "cachedResultUrl": "https://www.notion.so/23da0519ba1080f8b2dce2b101439e4a"
        },
        "returnAll": true,
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "key": "Status|select",
              "condition": "equals",
              "selectValue": "In Progress"
            },
            {
              "key": "Next Reminder Time|date",
              "condition": "on_or_before",
              "date": "={{ $now }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -944,
        928
      ],
      "id": "35f27e61-ec52-4252-9a71-2914813c0fd2",
      "name": "Since I am not working",
      "credentials": {
        "notionApi": {
          "id": "o28QXcBHRFEhw2zq",
          "name": "Second Brain Database"
        }
      }
    },
    {
      "parameters": {
        "chatId": "REPLACE_ME",
        "text": "=Okay I won't remind  you but if task says still in progress by midnight then I will put it in Abandoned Catagory.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -496,
        704
      ],
      "id": "7b4719aa-1e14-4f0a-bb72-32d6fc0c06d5",
      "name": "If Don't wanted to be reminded",
      "webhookId": "ca8f2120-c934-46cc-a7fd-4c43986471c8",
      "credentials": {
        "telegramApi": {
          "id": "5jQMyrdufsQiAI16",
          "name": "Second Brain BOT"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.page_id }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status|select",
              "selectValue": "Abandoned"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -736,
        928
      ],
      "id": "20d49a20-8f2e-4c1d-bfe7-aa6f8a520529",
      "name": "Abandoned Task1",
      "credentials": {
        "notionApi": {
          "id": "o28QXcBHRFEhw2zq",
          "name": "Second Brain Database"
        }
      }
    },
    {
      "parameters": {
        "content": "Switch Output 1 (Are you want to be reminded (answer_yes) ): Asking user to be reminded every time?\n\nSwitch Output 2 (Are you want to be reminded (answer_no)): If task is still in progress then move task to abandoned.\n\nSwitch Output 3 (Want to remind them(yes)): Setting Reminder to remind us time to time.\n\nSwitch Output 4: Setting up timer for 8 hours for reminder since we don't want to be disturbed.\n\nSwitch Output 5: If I am not woking and task still says in progress then move task to abandoned catacogry",
        "height": 288,
        "width": 624
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1888,
        720
      ],
      "id": "65d1062b-b2e4-40b3-868c-191b72882a34",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "updates": [
          "callback_query",
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1616,
        496
      ],
      "id": "519fce29-747b-4be9-85a3-ec9e435f5d3c",
      "name": "Telegram Trigger1",
      "webhookId": "054dd872-69fa-45c1-ac22-8502a1804ab1",
      "credentials": {
        "telegramApi": {
          "id": "5jQMyrdufsQiAI16",
          "name": "Second Brain BOT"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3fec9a25-b7b4-40ee-a44e-81da3510561f",
              "name": "page_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "19b48a65-ce3e-44d2-adca-9b9f463524f6",
              "name": "page_url",
              "value": "={{ $json.url }}",
              "type": "string"
            },
            {
              "id": "04934ffa-98f9-49bc-b982-2f57ef865365",
              "name": "task_name",
              "value": "={{ $if($json.property_name!= null && $json.property_name != \"\", $json.property_name, \"You have not entered any Task name\") }}",
              "type": "string"
            },
            {
              "id": "4ab0937f-10a1-4953-9646-f1de9d35c5bf",
              "name": "due_date",
              "value": "={{ $if($json.property_due_date.start!= null && $json.property_due_date.start != \"\", $json.property_due_date.start, \"You have not entered any Due Dates\") }}",
              "type": "string"
            },
            {
              "id": "766abcef-bc8e-40b7-b414-e7ef6e259f71",
              "name": "mood_tag",
              "value": "={{ $if($json.property_mood_tag[0]!= null && $json.property_mood_tag[0] != \"\", $json.property_mood_tag[0], \"You have not entered any Mood Tags\") }}",
              "type": "string"
            },
            {
              "id": "247f0343-601d-4d0b-9a24-db80f3d5618b",
              "name": "task_priority",
              "value": "={{ $if($json.property_priority != null && $json.property_priority != \"\", $json.property_priority, \"You have not entered any Task Priority\") }}",
              "type": "string"
            },
            {
              "id": "3a3c8bfd-d151-474e-a93c-cb16a1bf9cbb",
              "name": "transcription",
              "value": "={{ $if($json.property_transcription != null && $json.property_transcription != \"\", $json.property_transcription, \"You have not entered any description\") }}",
              "type": "string"
            },
            {
              "id": "9c2a434c-f60f-491a-9df4-9e16a70660de",
              "name": "type",
              "value": "={{ $if($json.property_type!= null && $json.property_type != \"\", $json.property_type, \"You have not entered any description\") }}",
              "type": "string"
            },
            {
              "id": "27e9fd31-462d-4fae-bb8b-6c9384778190",
              "name": "status",
              "value": "={{ $json.property_status }}",
              "type": "string"
            },
            {
              "id": "0b68c23f-6291-4cf8-b833-46967352a174",
              "name": "status_change_time",
              "value": "={{ \n  (() => {\n    const raw = $json[\"property_next_reminder_time\"][\"start\"];\n    const [datePart, timePartWithZone] = raw.split(\"T\");\n    const [year, month, day] = datePart.split(\"-\");\n    const [timePart] = timePartWithZone.split(\"-\");\n    const [hour, minute] = timePart.split(\":\");\n\n    const months = [\"Jan\", \"Feb\", \"Mar\", \"Apr\", \"May\", \"Jun\", \n                    \"Jul\", \"Aug\", \"Sep\", \"Oct\", \"Nov\", \"Dec\"];\n    \n    let hourNum = parseInt(hour, 10);\n    const ampm = hourNum >= 12 ? \"PM\" : \"AM\";\n    hourNum = hourNum % 12 || 12;\n\n    return `${months[parseInt(month, 10) - 1]} ${parseInt(day)}, ${year}, ${hourNum}:${minute} ${ampm}`;\n  })()\n}}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -512,
        512
      ],
      "id": "522ea69d-cf33-4595-aa82-bc7a5e499eb3",
      "name": "Setting Variables1"
    },
    {
      "parameters": {
        "chatId": "REPLACE_ME",
        "text": "=Reminde is set\n\n-->Task: {{ $json.task_name }}\n\n-->Due Date: {{ $json.due_date }}\n\n-->Priority: {{ $json.task_priority }}\n\n-->Mood: {{ $json.mood_tag }}\n\n-->Transcription: {{ $json.transcription }}\n\n--> Next Reminder Time: {{ $json.status_change_time }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -320,
        512
      ],
      "id": "2979d108-fcc7-4687-ab7e-09d8719a97db",
      "name": "Reminder is Set",
      "webhookId": "fa0a79d8-309e-4555-b459-01412b5d86d3",
      "credentials": {
        "telegramApi": {
          "id": "5jQMyrdufsQiAI16",
          "name": "Second Brain BOT"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "Want me to remind you?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Checking Status of Task",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Getting task that need to be reminded",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Since I don't want to be reminded",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Since I am not working",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Want me to remind you?": {
      "main": [
        []
      ]
    },
    "Getting task that need to be reminded": {
      "main": [
        [
          {
            "node": "Setting Reminder for it",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checking Status of Task": {
      "main": [
        [
          {
            "node": "Setting up for Abandoned Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setting up for Abandoned Task": {
      "main": [
        [
          {
            "node": "Abandoned Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Since I don't want to be reminded": {
      "main": [
        [
          {
            "node": "I am putting reminder for 8 hours",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "I am putting reminder for 8 hours": {
      "main": [
        [
          {
            "node": "If Don't wanted to be reminded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Since I am not working": {
      "main": [
        [
          {
            "node": "Abandoned Task1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Abandoned Task1": {
      "main": [
        [
          {
            "node": "Other Stuff to take care",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setting Reminder for it": {
      "main": [
        [
          {
            "node": "Setting Variables1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setting Variables1": {
      "main": [
        [
          {
            "node": "Reminder is Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4a42371b-7dd2-4ead-8084-30009735d6a8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0bcebf51d4cf800b245aed453dd260211b798a8cfd4db368038cbb6eb3e36c74"
  },
  "id": "WeK7k5lFq6Ni746J",
  "tags": []
}
